@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: heading;
  src: url(../src/assets/skill/Aquire-BW0ox.otf);
}
body {
  background-color: #1e0b38;
  background-image: url("../public/bg.jpeg");
  background-image: cover;
  background-position: cover;
}

.btn {
  background: linear-gradient(
    92.23deg,
    #ff56f6 21.43%,
    #b936ee 50.63%,
    #3bace2 100%,
    #406aff 117.04%
  );
  box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
}
.card{
  background: #8e9eab; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8e9eab, #eef2f3); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8e9eab, #eef2f3);
  
  
}
h1 {
  font-family: heading;
}

.btn:hover {
  background: linear-gradient(
    92.23deg,
    #406aff 21.43%,
    #3bace2 50.63%,
    #b936ee 100%,
    #ff56f6 117.04%
  );
}

.gradient,
.active {
  background: linear-gradient(
    92.23deg,
    #406aff 21.43%,
    #3bace2 50.63%,
    #b936ee 100%,
    #ff56f6 117.04%
  );
}

.img-holder:hover{
  animation: images 3s ease  ;

}
.slick-slide > div{
  margin: 0 30px;
  
}


@keyframes images {
  
 
    from {
      transform: rotate(0deg); /* Rotate from 0 degrees */
    }
    to {
      transform: rotate(360deg); /* Rotate to 360 degrees */
    }
  
  }
.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
}
.svg {
  box-shadow: #1e0b38 2px 2px;
}
#education {
  background-image: url("../public/bg.jpeg");
  background-image: cover;
  background-position: cover;
}
.image img {
  animation: anime 3s ease infinite alternate;
}

@keyframes anime {
  to {
    transform: translateY(-10px);
  }
}
.map {
  animation: map 5s ease infinite ;
}
@keyframes map {
  
/*   to {
    transform: translateY(-20px);
    
  } */
  from {
    transform: rotate(0deg); /* Rotate from 0 degrees */
  }
  to {
    transform: rotate(360deg); /* Rotate to 360 degrees */
  }

}
